
 * {
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;
  background-size: contain;
}

#grid-container {
  display: grid;
  grid-template-columns: 0.5fr [out1-start console-start] 1fr [out1-end times-start] 1fr [times-end out2-start] 1fr [equals-start out2-end console-end] 0.5fr [break-start power-start turn-start] 0.5fr [equals-end in1-start] 1fr [in1-end break-end power-end turn-end] 0.5fr;
  grid-template-rows: 0.5fr [out1-start out2-start in1-start times-start equals-start] 1fr [equals-end times-end out1-end out2-end in1-end] 0.5fr [console-start power-start] 1fr [power-end break-start] 1fr [break-end turn-start] 1fr [turn-end console-end] 0.5fr;
  width: 100vw;
  height: 100vh;
}

#out1 {
  grid-area: out1;
  background: blue;
}
#out1 h1 {
  padding-top: 1vh;
  font-size: 10vw;
}

#times {
  grid-area: times;
}
#times i {
  color: white;
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
  height: 10%;
  margin-top: 45%;
  margin-bottom: 45%;
  font-size: 200%;
}

#out2 {
  grid-area: out2;
  background: blue;
}
#out2 h1 {
  padding-top: 1vh;
  font-size: 10vw;
}

#equals {
  grid-area: equals;
}
#equals i {
  color: white;
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
  height: 10%;
  margin-top: 45%;
  margin-bottom: 45%;
  font-size: 200%;
}

#in1 {
  grid-area: in1;
}
#in1 input {
  width: 75%;
  height: 100%;
  font-size: 10vh;
  padding-left: 20%;
}

/*
 * Console
 */

#console {
  grid-area: console;
  background: black;
}
#console-text {
  width: 98%;
  height: 97%;
  margin: 1%;
  overflow-y: scroll;
}
.user {color: red;}
.white {color: white;}
.command {color: #20C20E;margin-bottom: 0.5%;}

#power {
  grid-area: power;
  background: dodgerblue;
}

#break {
  grid-area: break;
}
#break-element {
  margin-top: 16%;
  width: 99%;
  height: 0.1%;
  border: 2px solid black;
}

#turn {
  grid-area: turn;
  background: dodgerblue;
}
